<md-content ng-controller="RoutesCtrl">
	<md-table-toolbar layout="row" flex>
		<md-input-container class="md-block" flex-gt-xs>
			<input type="text" placeholder="Search by title..." ng-model="query.filter" ng-model-options="{ debounce: 1000 }" ng-change="onSearch()">
		</md-input-container>
	</md-table-toolbar>
	<md-table-container>
		<table md-table md-progress="promise">
			<thead md-head md-order="query.order" class="toolBarRouteRelation" md-trigger="onOrderChange">
				<tr md-row>
					<th md-column></th>
					<th md-column>Icon</th>
					<th md-column ng-click="sortData('title_ru')">
						Title: RU
						<ng-md-icon ng-hide="sortColumn!='title_ru'" icon="{{getSortClass('title_ru')}}"></ng-md-icon>
					</th>
					<th md-column ng-click="sortData('order')">
						Order
						<ng-md-icon ng-hide="sortColumn!='order'" icon="{{getSortClass('order')}}"></ng-md-icon>
					</th>

					<th md-column>View</th>
					<th md-column></th>
				</tr>
			</thead>
			<tbody md-body ng-repeat="route in routes | orderBy:sortColumn:reverseSort">
				<tr md-row>
					<td md-cell>
						<img class="img-thumb img-circle" ng-src="/images/placeholder.png" actual-src="{{ route.imageThumb.url() }}" />
					</td>
					<td md-cell>
						<img width="32" height="32" ng-src="/images/placeholder.png" actual-src="{{ route.icon.url() }}" />
					</td>
					<td md-cell>{{:: route.title_ru }}</td>
					<td md-cell>{{:: route.order }}</td>
					<td md-cell>
						<a class="colorHref" href="/dashboard/route/{{route.id}}">View</a>
					</td>
					<td md-cell>
						<md-menu>
							<md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
								<ng-md-icon md-menu-origin icon="more_vert" layout="row" layout-align="start center">
								</ng-md-icon>
							</md-button>
							<md-menu-content width="3">
								<md-menu-item>
									<md-button aria-label="Edit route" ng-click="onEditRoute($event, route)">
										Edit
									</md-button>
								</md-menu-item>
								<md-menu-item>
									<md-button aria-label="Delete route" ng-click="onDestroyRoute($event, route)">
										Delete
									</md-button>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	<md-table-pagination md-options="rowOptions" md-limit="query.limit" md-page="query.page" md-total="{{query.total}}" md-on-paginate="onPaginationChange">
	</md-table-pagination>
	<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="New route" ng-click="onNewRoute($event)">
		<ng-md-icon class="icon-add" icon="add" layout="column" layout-align="center center">
		</ng-md-icon>
	</md-button>
</md-content>