<md-dialog flex="100" flex-gt-xs="40" aria-label="Dialog Category">
  <form name="form" role="form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-show="isCreating">New category</h2>
        <h2 ng-show="!isCreating">Edit {{::objCategory.title }}</h2>
        <span flex></span>
        <ng-md-icon icon="close" class="icon-close" ng-click="cancel()" aria-label="Close dialog"></ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout="column" layout-padding>

        <md-input-container>
          <label>Title: ru</label>
          <input required name="title_ru" ng-model="objCategory.title_ru">
          <div ng-messages="form.title_ru.$error" ng-show="form.$submitted">
            <div ng-message="required">Title ru required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Title: en</label>
          <input required name="title_en" ng-model="objCategory.title_en">
          <div ng-messages="form.title_en.$error" ng-show="form.$submitted">
            <div ng-message="required">Title en required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Information: ru</label>
          <input required name="information_ru" ng-model="objCategory.information_ru">
          <div ng-messages="form.information_ru.$error" ng-show="form.$submitted">
            <div ng-message="required">Information ru required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Information: en</label>
          <input required name="information_en" ng-model="objCategory.information_en">
          <div ng-messages="form.information_en.$error" ng-show="form.$submitted">
            <div ng-message="required">Information en required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Order</label>
          <input type="number" name="order" min="0"
            ng-model="objCategory.order" required>
          <div ng-messages="form.order.$error" ng-show="form.$submitted">
            <div ng-message="required">Order required</div>
          </div>
        </md-input-container>

        <!--<md-input-container>-->
          <!--<label>Coordinates START route (origin) :</label>-->
          <!--<input required name="start_route" ng-model="objCategory.start_route">-->
          <!--<div ng-messages="form.start_route.$error" ng-show="form.$submitted">-->
            <!--<div ng-message="required">Coordinates START required</div>-->
          <!--</div>-->
        <!--</md-input-container>-->

        <md-input-container>
          <label>Coordinates WAYPOINTS route (between coordinates '/' and without spaces) :</label>
          <input required name="waypoints" ng-model="objCategory.waypoints">
          <div ng-messages="form.waypoints.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates WAYPOINTS required</div>
          </div>
        </md-input-container>

        <!--<md-input-container>-->
          <!--<label>Coordinates END route (destination) :</label>-->
          <!--<input required name="end_route" ng-model="objCategory.end_route">-->
          <!--<div ng-messages="form.end_route.$error" ng-show="form.$submitted">-->
            <!--<div ng-message="required">Coordinates END required</div>-->
          <!--</div>-->
        <!--</md-input-container>-->

        <md-input-container>
          <label>Coordinates CENTER MAP route :</label>
          <input required name="center_map" ng-model="objCategory.center_map">
          <div ng-messages="form.center_map.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates Center Map required</div>
          </div>
        </md-input-container>

        <div layout="row" layout-align="start center">
          <md-input-container md-no-float>
            <label>Upload Image</label>
            <input type="text" ng-model="imageFilename" disabled>
          </md-input-container>
          <ng-md-icon icon="photo_camera" class="photo-camera"
            ng-class="{ 'photo-active': objCategory.image.url() }"
            ngf-select="uploadImage($file, $invalidFile)" ngf-max-size="4MB"
            ngf-pattern="'image/*'" accept="image/*">
            <md-tooltip>
              Add an Image
            </md-tooltip>
          </ng-md-icon>
          <md-progress-circular class="md-primary" md-diameter="30"
            ng-if="isUploading">
          </md-progress-circular>
        </div>

        <div layout="row" layout-align="start center">
          <md-input-container md-no-float>
            <label>Upload Icon</label>
            <input type="text" ng-model="iconFilename" disabled>
          </md-input-container>
          <ng-md-icon icon="photo_camera" class="photo-camera"
            ng-class="{ 'photo-active': objCategory.icon.url() }"
            ngf-dimensions="$width === 64 && $height === 64"
            ngf-select="uploadIcon($file, $invalidFile)" ngf-max-size="1MB"
            ngf-pattern="'image/*'" accept="image/*">
            <md-tooltip>
              Add an Icon
            </md-tooltip>
          </ng-md-icon>
          <md-progress-circular class="md-primary" md-diameter="30"
            ng-if="isUploadingIcon">
          </md-progress-circular>
        </div>

        <div class="hint">
          * The icon image's dimensions should be 64x64 px
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" md-raised md-primary ng-click="cancel()">
       Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-show="isCreating"
        ng-disabled="isSavingCategory"
        ng-click="onSaveCategory(form.$valid)">
        {{ !isSavingCategory ? 'Save' : 'Saving...' }}
      </md-button>
       <md-button type="submit" class="md-raised md-primary" ng-show="!isCreating"
         ng-disabled="isSavingCategory"
         ng-click="onUpdateCategory(form.$valid)">
        {{ !isSavingCategory ? 'Update' : 'Updating...' }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
