<md-dialog flex="100" flex-gt-xs="40" aria-label="Dialog Route">
  <form name="form" role="form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-show="isCreating">New route</h2>
        <h2 ng-show="!isCreating">Edit {{::objRoute.title }}</h2>
        <span flex></span>
        <ng-md-icon icon="close" class="icon-close" ng-click="cancel()" aria-label="Close dialog"></ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout="column" layout-padding>
        <!-- <md-input-container> -->
          <label>Periods</label>
          <md-chips ng-model="objRoute.periods" readonly="false" md-removable="true"></md-chips>
        <!-- </md-input-container> -->
        <md-input-container>
          <label>Title: RU</label>
          <input required name="title_ru" ng-model="objRoute.title_ru">
          <div ng-messages="form.title_ru.$error" ng-show="form.$submitted">
            <div ng-message="required">Title RU required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Title: RO</label>
          <input required name="title_ro" ng-model="objRoute.title_ro">
          <div ng-messages="form.title_ro.$error" ng-show="form.$submitted">
            <div ng-message="required">Title RO required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Title: EN</label>
          <input required name="title_en" ng-model="objRoute.title_en">
          <div ng-messages="form.title_en.$error" ng-show="form.$submitted">
            <div ng-message="required">Title en required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Information: RU</label>
          <input required name="information_ru" ng-model="objRoute.information_ru">
          <div ng-messages="form.information_ru.$error" ng-show="form.$submitted">
            <div ng-message="required">Information RU required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Information: RO</label>
          <input required name="information_ro" ng-model="objRoute.information_ro">
          <div ng-messages="form.information_ro.$error" ng-show="form.$submitted">
            <div ng-message="required">Information RO required</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>Information: EN</label>
          <input required name="information_en" ng-model="objRoute.information_en">
          <div ng-messages="form.information_en.$error" ng-show="form.$submitted">
            <div ng-message="required">Information EN required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Order</label>
          <input type="number" name="order" min="0" ng-model="objRoute.order" required>
          <div ng-messages="form.order.$error" ng-show="form.$submitted">
            <div ng-message="required">Order required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Coordinates START route (origin) without spaces between coordinates :</label>
          <input required name="start_route" ng-model="objRoute.start_route">
          <div ng-messages="form.start_route.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates START required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Coordinates WAYPOINTS route (between coordinates '/' and without spaces!) :</label>
          <input required name="waypoints" ng-model="objRoute.waypoints">
          <div ng-messages="form.waypoints.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates WAYPOINTS required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Coordinates END route (destination) without spaces between coordinates :</label>
          <input required name="end_route" ng-model="objRoute.end_route">
          <div ng-messages="form.end_route.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates END required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>Coordinates CENTER MAP route (without spaces between coordinates!):</label>
          <input required name="center_map" ng-model="objRoute.center_map">
          <div ng-messages="form.center_map.$error" ng-show="form.$submitted">
            <div ng-message="required">Coordinates Center Map required</div>
          </div>
        </md-input-container>


        <div layout="column">
          <md-input-container class="layout-row">
              <div ng-show="objRoute.image">
                  <img class="img-thumb placeImg" actual-src="{{ objRoute.image.url() }}" />
                  <ng-md-icon icon="clear" style="fill:green" class="photo-camera imgClearPlace" ng-click="onDeleteImage()"></ng-md-icon>
              </div>
          </md-input-container>




        <div layout="row" layout-align="start center">

          <md-input-container md-no-float>
            <label>Upload Image</label>
            <input type="text" ng-model="imageFilename" disabled>
          </md-input-container>
          <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'photo-active': objRoute.image.url() }" ngf-select="uploadImage($file, $invalidFile)"
            ngf-max-size="4MB" ngf-pattern="'image/*'" accept="image/*">
            <md-tooltip>                    
              Add an Image
            </md-tooltip>
          </ng-md-icon>
          <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
          </md-progress-circular>
          
        </div>



        <div layout="column">
          <md-input-container class="layout-row">
              <div ng-show="objRoute.icon">
                  <img class="icon-thumb placeImg" actual-src="{{ objRoute.icon.url() }}" />
                  <ng-md-icon icon="clear" style="fill:green" class="photo-camera imgClearPlace" ng-click="onDeleteIcon()"></ng-md-icon>
              </div>
          </md-input-container>


        <div layout="row" layout-align="start center">
          <md-input-container md-no-float>
            <label>Upload Icon</label>
            <input type="text" ng-model="iconFilename" disabled>
          </md-input-container>
          <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'photo-active': objRoute.icon.url() }" ngf-dimensions="$width === 64 && $height === 64"
            ngf-select="uploadIcon($file, $invalidFile)" ngf-max-size="1MB" ngf-pattern="'image/*'" accept="image/*">
            <md-tooltip>
              Add an Icon
            </md-tooltip>
          </ng-md-icon>
          <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploadingIcon">
          </md-progress-circular>
        </div>

        <div class="hint">
          * The icon image's dimensions should be 64x64 px
        </div>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" md-raised md-primary ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-show="isCreating" ng-disabled="isSavingRoute" ng-click="onSaveRoute(form.$valid)">
        {{ !isSavingRoute ? 'Save' : 'Saving...' }}
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-show="!isCreating" ng-disabled="isSavingRoute" ng-click="onUpdateRoute(form.$valid)">
        {{ !isSavingRoute ? 'Update' : 'Updating...' }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>