<!--TODO: remove audio -->
<md-dialog flex="100" flex-gt-xs="40" aria-label="Dialog Story">
    <form name="form" role="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="isCreating">New Story</h2>
                <h2 ng-show="!isCreating">Edit {{::objStory.name }}</h2>
                <span flex></span>
                <ng-md-icon icon="close" class="icon-close" ng-click="cancel()" aria-label="Close dialog"></ng-md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout="column" layout-padding>
                <md-input-container>
                    <label class="marginLabel">Name</label>
                    <input type="string" name="name" min="0" ng-model="objStory.name" required>
                    <div ng-messages="form.name.$error" ng-show="form.$submitted">
                        <div ng-message="required">Name required</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Start Period</label>
                    <md-datepicker ng-model="objStory.startPeriod" md-current-view="year">
                    </md-datepicker>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>End Period</label>
                    <md-datepicker ng-model="objStory.endPeriod" md-current-view="year">
                    </md-datepicker>
                </md-input-container>

                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <label>Upload Audio: RU</label>
                        <input type="text" ng-model="audioFilename.ru" disabled>
                    </md-input-container>

                    <ng-md-icon icon="headset" class="photo-camera" ng-class="{ 'photo-active': objStory.audio_ru.url() }" ngf-select="uploadAudio($file, $invalidFile,'ru')"
                        ngf-max-size="50MB" ngf-pattern="'audio/*'" accept="audio/*">
                        <md-tooltip>
                            Add Audio: RU
                        </md-tooltip>
                    </ng-md-icon>
                    <md-progress-circular class="md-primary" md-diameter="30" ng-if="isAudioUploading.ru">
                    </md-progress-circular>
                </div>
                <div layout="row" ng-if="objStory.audio_ru.url()">
                    <audio controls>
                        <source src="{{objStory.audio_ru.url()}}" type="audio/mpeg">
                    </audio>
                    <ng-md-icon icon="clear" style="fill:pink" class="photo-camera imgClearStory" ng-click="onDeleteAudio('ru')"></ng-md-icon>

                </div>

                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <label>Upload Audio: RO</label>
                        <input type="text" ng-model="audioFilename.ro" disabled>
                    </md-input-container>
                    <ng-md-icon icon="headset" class="photo-camera" ng-class="{ 'photo-active': objStory.audio_ro.url() }" ngf-select="uploadAudio($file, $invalidFile,'ro')"
                        ngf-max-size="50MB" ngf-pattern="'audio/*'" accept="audio/*">
                        <md-tooltip>
                            Add Audio: RO
                        </md-tooltip>
                    </ng-md-icon>
                    <md-progress-circular class="md-primary" md-diameter="30" ng-if="isAudioUploading.ro">
                    </md-progress-circular>
                </div>
                <div layout="row" ng-if="objStory.audio_ro.url()">
                    <audio controls>
                        <source src="{{objStory.audio_ro.url() }}" type="audio/mpeg">
                    </audio>
                    <ng-md-icon icon="clear" style="fill:pink" class="photo-camera imgClearStory" ng-click="onDeleteAudio('ro')"></ng-md-icon>
                </div>


                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <label>Upload Audio: EN</label>
                        <input type="text" ng-model="audioFilename.en" disabled>
                    </md-input-container>
                    <ng-md-icon icon="headset" class="photo-camera" ng-class="{ 'photo-active': objStory.audio_en.url() }" ngf-select="uploadAudio($file, $invalidFile,'en')"
                        ngf-max-size="50MB" ngf-pattern="'audio/*'" accept="audio/*">
                        <md-tooltip>
                            Add Audio: EN
                        </md-tooltip>
                    </ng-md-icon>
                    <md-progress-circular class="md-primary" md-diameter="30" ng-if="isAudioUploading.en">
                    </md-progress-circular>
                </div>
                <div layout="row" ng-if="objStory.audio_en.url()">
                    <audio controls>
                        <source src="{{objStory.audio_en.url() }}" type="audio/mpeg">
                    </audio>
                    <ng-md-icon icon="clear" style="fill:pink" class="photo-camera imgClearStory" ng-click="onDeleteAudio('en')"></ng-md-icon>

                </div>
            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" md-raised md-primary ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-show="isCreating" ng-disabled="isSavingStory" ng-click="onSaveStory(form.$valid)">
                {{ !isSavingStory ? 'Save' : 'Saving...' }}
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-show="!isCreating" ng-disabled="isSavingStory" ng-click="onUpdateStory(form.$valid)">
                {{ !isSavingStory ? 'Update' : 'Updating...' }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>