<md-dialog flex="100" flex-gt-xs="40" aria-label="Dialog Story">
    <form name="form" role="form" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-show="isCreating">New story</h2>
                <h2 ng-show="!isCreating">Edit {{::objStory.title }}</h2>
                <span flex></span>
                <ng-md-icon icon="close" class="icon-close" ng-click="cancel()" aria-label="Close dialog"></ng-md-icon>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-content layout="column" layout-padding>
                <md-input-container>
                    <label>Year</label>
                    <input type="number" name="year" min="0"
                           ng-model="objStory.year" required>
                    <div ng-messages="form.year.$error" ng-show="form.$submitted">
                        <div ng-message="required">Year required</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Ru Audio:</label>
                    <span ng-repeat="audio in objStory.audios_ru">
                        <audio controls>
                         <source src="{{ audio.url() }}" type="audio/mpeg">
                        </audio>
                    </span>
                </md-input-container>

                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <label>Upload Audio:</label>
                        <!--<input type="text" ng-model="audioFilename" disabled>-->
                    </md-input-container>
                    <ng-md-icon icon="headset"
                                ngf-select="uploadStoryAudio($file, $invalidFile,'ru')" ngf-max-size="50MB"
                                ngf-pattern="'audio/*'" accept="audio/*">
                        <md-tooltip>
                            Add Audio:
                        </md-tooltip>
                    </ng-md-icon>
                    <md-progress-circular class="md-primary" md-diameter="30"
                                          ng-if="isUploading">
                    </md-progress-circular>
                </div>

                <md-input-container>
                    <label>Ro Audio:</label>
                    <span ng-repeat="audio in objStory.audios_ro">
                        <audio controls>
                         <source src="{{ audio.url() }}" type="audio/mpeg">
                        </audio>
                    </span>
                </md-input-container>

                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <label>Upload Audio:</label>
                        <!--<input type="text" ng-model="audioFilename" disabled>-->
                    </md-input-container>
                    <ng-md-icon icon="headset"
                                ngf-select="uploadStoryAudio($file, $invalidFile,'ro')" ngf-max-size="50MB"
                                ngf-pattern="'audio/*'" accept="audio/*">
                        <md-tooltip>
                            Add Audio:
                        </md-tooltip>
                    </ng-md-icon>
                    <md-progress-circular class="md-primary" md-diameter="30"
                                          ng-if="isUploading">
                    </md-progress-circular>
                </div>

                <md-input-container layout="column">
                    <label>En Audio:</label>
                    <div>
                    <span ng-repeat="audio in objStory.audios_en">
                        <audio controls>
                         <source src="{{ audio.url() }}" type="audio/mpeg">
                        </audio>
                    </span>
                    </div>
                </md-input-container>

                <div layout="row" layout-align="start center">
                    <md-input-container md-no-float>
                        <!--<label>Upload Audio:</label>-->
                        <!--&lt;!&ndash;<input type="text" ng-model="audioFilename" disabled>&ndash;&gt;-->
                        <!--</md-input-container>-->
                        <ng-md-icon icon="headset"
                                    ngf-select="uploadStoryAudio($file, $invalidFile,'en')" ngf-max-size="50MB"
                                    ngf-pattern="'audio/*'" accept="audio/*">
                            <md-tooltip>
                                Add Audio:
                            </md-tooltip>
                        </ng-md-icon>
                        <md-progress-circular class="md-primary" md-diameter="30"
                                              ng-if="isUploading">
                        </md-progress-circular>
                </div>

            </md-content>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" md-raised md-primary ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-raised md-primary"
                       ng-show="isCreating"
                       ng-disabled="isSavingStory"
                       ng-click="onSaveStory(form.$valid)">
                {{ !isSavingStory ? 'Save' : 'Saving...' }}
            </md-button>
            <md-button type="submit" class="md-raised md-primary"
                       ng-show="!isCreating"
                       ng-disabled="isSavingStory"
                       ng-click="onUpdateStory(form.$valid)">
                {{ !isSavingStory ? 'Update' : 'Updating...' }}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
